<div class="container">
  <div class="box" style="background-color:  #EDA909;">
    <p> Learn one way to build applications with Angular and reuse your code and abilities to build apps for any
      deployment target.</p>
  </div>
  <div class="box" style="background-color:  #8CE0EB;">
    <p> Learn one way to build applications with Angular and reuse your code and abilities to build apps for any
      deployment target.</p>
  </div>
  <div class="box" style="background-color:  #D2CCB1">
    <p> Learn one way to build applications with Angular and reuse your code and abilities to build apps for any
      deployment target. </p>
  </div>
  <div class="box" style="background-color:#73926C ;">
    <p> Learn one way to build applications with Angular and reuse your code and abilities to build apps for any
      deployment target.</p>
  </div>
</div>