<div class="container">
  <div class="box" style="background-color: red;">
    <p> Learn one way to build applications with Angular and reuse your code and abilities to build apps for any
      deployment target.</p>
  </div>
  <div class="box" style="background-color: green;">
    <p> Learn one way to build applications with Angular and reuse your code and abilities to build apps for any
      deployment target.</p>
  </div>
  <div class="box" style="background-color: rgb(74, 74, 228);">
    <p> Learn one way to build applications with Angular and reuse your code and abilities to build apps for any
      deployment target. </p>
  </div>
  <div class="box" style="background-color: orange;">
    <p> Learn one way to build applications with Angular and reuse your code and abilities to build apps for any
      deployment target.</p>
  </div>
</div>